[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
innodb_force_recovery = 1
bind-address = 0.0.0.0
socket=/var/run/mysqld/mysqld.sock

[client]
socket=/var/run/mysqld/mysqld.sock
